h2 {
  color: #EB5424;
}
.clientItem {
  display:inline-block;
  border: 1px solid #EB5424;
  width: 50%;
  color: white;
  background-color: #EB5424;
  list-style: none;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

